body{
    background-color: rgb(73, 100, 121);
}


div.name{text-align: center;
font-size: larger;}

div.login{text-align: center;
font-size: large;
font-weight: 900;
text-decoration: none;
}

div.user{text-align: center;
background-color: aliceblue;
border-radius: 30%;
padding: 10mm;
border-color: azure;
width: 40%;
position: relative;
left:28% ;
font-size: medium;
font-weight: 800;}
